@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("../fonts/FuturaPT-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaPT-Light';
  src: url("../fonts/FuturaPT-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("../fonts/FuturaPT-Bold.eot") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book.eot") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaPT-Light';
  src: url("../fonts/FuturaPT-Light.eot") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.eot") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("../fonts/FuturaPT-Bold.woff") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book.woff") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaPT-Light';
  src: url("../fonts/FuturaPT-Light.woff") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.woff") format("opentype");
  font-weight: normal;
  font-style: normal; }
