@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

.mainDiv{
  background: #022753 !important;
  display: flex;
  flex-direction: column;
  // width: 100%;
  // max-width: 2560px;
  height: 100vh;
}

.subMainDiv{

  background: #022753 !important;
  //background: transparent;
  display: block;
  height: 30vh;
  position: relative;
  padding-top: 2rem;

}

.pageVisit {
  font-size: 2em;
  font-weight: 400;
  font-family: 'Source Sans Pro';
  color: #FFFFFF;
  letter-spacing: 1px;
  padding-left: 45px;
  text-align: left;

}

.filterHeader {
  position: absolute;
  right: 5rem;
  top: 1rem;
}

.inLine
{
    display: inline-block;
}

.noMargin {
  margin: 0px;
  width: 100%;
  height: 60vh;
  position: relative;
  padding-top: 4rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.headerDiv {
  position: relative;
  height: 9vh;
}

.strip {
  background-color: #15C3DA;
  width: 100%;
  height: 1vh;
  position: relative;
  display: block;
}
