.enclose {
  position: relative;
  width: 100%;
  height: 100%;

}

.page{
  text-align: left;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
  display: flex;

  flex-direction: row;
  flex-grow: 10;
  flex-wrap: wrap;

  margin-left: 11px;
}

.pageHeader{
  color: white;
  font-weight: bold;
}

.firstItem, .secondItem, .thirdItem {
  flex-grow: 5;
}


.firstItem {
  text-align: left;
}
.secondItem {
  text-align: center;
}

.thirdItem {
  text-align: right;
}

.secondSpan {
  position: absolute;
  right: 100px;
}

.lastSpan {
  position: absolute;
  right: 0px;
}
