.enclose {
  position: relative;
  width: 100%;
  height: 100%;
}

.detailedEnclose {
  position: relative;
  width: 50%;
  height: 100%;
}

.pieList {
  position: relative;
  height: 100%;
  width: 50%;
}

.page{
  text-align: left;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  display: flex;

  flex-direction: row;
  flex-grow: 10;
  flex-wrap: wrap;

  margin-left: 11px;
}

.pageHeader{
  color: white;
  font-weight: bold;
}

.firstItem, .secondItem, .thirdItem {
  flex-grow: 5;
}

.centerText {
  text-align: center;
}

.PiePaddingTop {
  padding-top: 200px;
}

.firstItem {
  text-align: left;
}
.secondItem {
  text-align: center;
}

.thirdItem {
  text-align: right;
}

.secondSpan {
  position: absolute;
  right: 100px;
}

.lastSpan {
  position: absolute;
  right: 0px;
}

.detailedSecondSpan {
  position: absolute;
  right: 60px;
}

.detailedLastSpan {
  position: absolute;
  right: 0px;
}
