@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

.hr1 {
  background-color: #FFFFFF;
  width: 1px;
  height: 10.5rem;
  display: inline;

  position: relative;
  top: -1rem;
}

.compBox {
  position: relative;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Source Sans Pro";
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  top: 3rem;

}

.soloBox {
    color: white;
    font-style: normal;
    font-family: "Source Sans Pro";

    width: 70%;
    margin: 0 auto;
    top: 50%;
    left: 50%;

    margin-top: 22%;
    align-items: center;
}

.num1, .num2 {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  margin-bottom: -1.5rem;
  font-family: "Source Sans Pro";
  font-weight: 300;
  letter-spacing: 2px;
  height: 60%;
    @media (min-width: 1200px) {
      font-size: 4rem;
    }
    @media (min-width: 1600px) {
      font-size: 5em;
    }
}

.num1 {
  margin-right: -30%;
}
.num2 {
  margin-left: -30%;
}

.label1, .label2{
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 1px;
  width: 100%;
  @media (min-width: 1200px) {
    font-size: 1em;
  }
  @media (min-width: 1600px) {
    font-size: 1.25em;
  }
  position: absolute;
  bottom: 3rem;
}

.label1 {
  left: 0.5rem;
}

.label2 {
  right: 0.5rem;
}

.arrowBox {
  font-size:1.25em;
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: #FFFFFF;

  display: flex;
  flex-direction: row;

  position: absolute;
  align-items: center;

  bottom: 1rem;
  left: 1rem;
}

.greenArrow {
  transform: rotate(270deg);
}

.redArrow {
  transform: rotate(90deg);
}

.leftBox {
  padding-right: 5rem;
}

.rightBox {
  padding-left: 5rem;
}

.col-md-6 {
  text-align: center;
}
