@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

.hr1 {
  background-color: #FFFFFF;
  width: 1px;
  height: 10.5rem;
  display: block;

  position: relative;

}

.compBox, .soloBox {
  // position: relative;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Source Sans Pro";
  width: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
}

.compBox {
  display: flex;
  flex-direction: row;
}

.soloBox {

}

.num1, .num2, .soloNum {
  display: block;
  padding-bottom: 2rem;
  font-family: "Source Sans Pro";
  font-weight: 300;
  letter-spacing: 2px;
  height: 2;
  margin: 0 auto;
  width: 100%;
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
  @media (min-width: 1600px) {
    font-size: 2.75em;
  }
  position: relative;

}

// .num1 {
//   margin-right: -30%;
// }
// .num2 {
//   margin-left: -30%;
// }

.soloNum {
  @media (min-width: 1200px) {
    font-size: 5rem;
  }
  @media (min-width: 1600px) {
    font-size: 6em;
  }
}

.label1, .label2, .soloLabel{
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 1px;
  width: 60%;
  @media (min-width: 1200px) {
    font-size: 1em;
  }
  @media (min-width: 1600px) {
    font-size: 1.25em;
  }
  position: relative;
  display: block;
  bottom: 3rem;
  margin: auto;
}

.soloLabel{
  @media (min-width: 1200px) {
    font-size: 1.5em;
  }
  @media (min-width: 1600px) {
    font-size: 2em;
  }
}

.arrowBox {
  font-size:1.25em;
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: #FFFFFF;

  display: flex;
  flex-direction: row;

  position: absolute;
  align-items: center;

  bottom: -13.5rem;
  left: 0rem;
}

.greenArrow {
  transform: rotate(270deg);

}

.redArrow {
  transform: rotate(90deg);
}

.leftBox, .rightBox {
  margin: 0 auto;
  padding-top: 30px;
}
