@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

hr {
  background-color: #6E839D;
  height: 125px;
  display: inline;
  margin-top: -2.5%;
  margin-right: 6%;
  margin-left: 6%;
}

.compBox {

  color: white;
  font-style: normal;
  font-family: "Source Sans Pro";
  font-size: 80px;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  margin-top: 20%;
  align-items: center;
}

.soloBox {
    color: white;
    font-style: normal;
    font-family: "Source Sans Pro";
    font-size: 80px;

    width: 70%;
    margin: 0 auto;
    top: 50%;
    left: 50%;

    margin-top: 22%;
    align-items: center;
}

.num1, .num2 {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: 2px;

}


.label {
  font-family: "Source Sans Pro";
  font-weight: 600;
  margin-top: 2.5%;
  font-size: 20px;
}

.arrowBox {
  font-size:20px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: oblique;
  color: white;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  margin-top: 5%;
  margin-left: 5%;
  align-items: center;
}

.greenArrow {
  transform: rotate(270deg);
}

.redArrow {
  transform: rotate(90deg);
}
