.header {
    margin: 30px;
    padding: 10px;
}

.inLine
{
    display: inline-block;
}

.analytics {
  font-size: 60px;
  color: white;
  position: absolute;
  left: 290px;
  top: 35px;
}

.share {
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 100px;
  top: 35px;
}

.VALICLogo {
  position: absolute;
  left: 30px;
  top: 30px;
}
