select{
  box-shadow: none !important;
  background: transparent;
  font-family: "Source Sans Pro",helvetica,arial,sans-serif;
  font-size: 1.125rem;
	padding: 1.3rem 1.0rem;
  margin-right: 15px;
	width: 100%;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: $input-radius;
	border: $selected-border solid $snow-dark;
  transition: border-color $transition-speed ease-out;
	&:focus{
		border: $selected-border solid $sky;
	}

}

select {
  text-indent: 3px;
  display: block;
  background: #12335E;
  &:focus{
    text-indent: 2px;
  }
}
.select{
  margin-bottom: 32px;
}
